$sidebar-width: 15rem;
// $sidebar-background-color: rgb(18, 25, 48);
$sidebar-background-color: #232931;
// $content-background-color: rgb(24, 32, 56);
$content-background-color: #222831;
$topbar-height: 3rem;
$content-padding-h: 2rem;
$content-padding-v: 1rem;
$light-grey: #cbd2dd;